data/*/raw/*
data/*/splited/*
data/*/splited/train/*
data/*/splited/val/*

data/*.png
data/*/*.png
data/*/*/*.png
data/*/*/*/*.png

data/*.pkl
data/*/*.pkl
data/*/*/*.pkl
data/*/*/*/*.pkl



data/*.zip
data/*/*.zip
data/*/*/*.zip
data/*/*/*/*.zip

data/*.ppm
data/*/*.ppm
data/*/*/*.ppm
data/*/*/*/*.ppm

data/*.jpeg
data/*/*.jpeg
data/*/*/*.jpeg
data/*/*/*/*.jpeg

data/*.jpg
data/*/*.jpg
data/*/*/*.jpg
data/*/*/*/*.jpg