**/.DS_Store

data/*.png
data/*/*.png
data/*/*/*.png
data/*/*/*/*.png

data/*.pkl
data/*/*.pkl
data/*/*/*.pkl
data/*/*/*/*.pkl



data/*.zip
data/*/*.zip
data/*/*/*.zip
data/*/*/*/*.zip

data/*.bmp
data/*/*.bmp
data/*/*/*.bmp
data/*/*/*/*.bmp

data/*.jpeg
data/*/*.jpeg
data/*/*/*.jpeg
data/*/*/*/*.jpeg

data/*.jpg
data/*/*.jpg
data/*/*/*.jpg
data/*/*/*/*.jpg


data/*.avi.ppm
data/*/*.avi.ppm
data/*/*/*.avi.ppm
data/*/*/*/*.avi.ppm

data/*.ppm
data/*/*.ppm
data/*/*/*.ppm
data/*/*/*/*.ppm

data/*.avi
data/*/*.avi
data/*/*/*.avi
data/*/*/*/*.avi